.navbar{
  background-color: #FBFCFC;
  colour: #17202A;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header1{
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;

}
.paragraph1{
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
}
.column{
  column-count: 3;
  column-width: 40px;
}
