.navbar{
  background-color: #229954;
  colour: #17202A;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.header1{
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  float: none;
  text-align: center;
  position: fixed;
  top: 250px;
  bottom: 200px;
  left:200px;
  right:200px;


}
.header2{
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  float: none;
  text-align: center;
  position: fixed;
  top: 350px;
  bottom: 200px;
  left:200px;
  right:200px;

}

.paragraph1{
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  top: 450px;
  bottom: 150px;
  left:200px;
  right:200px;
}
.paragraph2{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

p{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
ol{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;

}
h1{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: ##1A5276  ;
}
h2{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: ##1A5276  ;
}
h3{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: ##1A5276  ;

}
ul{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-family: sans-serif;
}
